@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --accentColor: #9a66e9;
    --accentcolorlight: #f3f4f5;
    --darkcolor: #493369;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

p {
    color: grey;
}
.row {
    margin: 0 !important;
}
.navbar-brand {
    font-weight: 500;
}
.nav-link {
    color: #222 !important;
}
.herotext h1 {
    font-weight: 900;
}
/* styling button */
.btn-log, .btn-sign, .btn-hero {
    outline: none;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    font-size: 15px;
    background-color: transparent;
}

.btn-sign, .btn-hero, .btn-services {
    padding: 8px 22px;
    background: var(--accentColor);
    color: #e4e2e2ed;
    border-radius: 6px;
    font-weight: 500;
}

.btn-hero, .btn-services {
    padding: 8px 37px;
    text-transform: uppercase;
}
.btn-services {
    padding: 8px 45px;
    border: none;
}

.btn-sign:hover, .btn-hero:hover, .btn-services:hover {
    background: #5c4cb6e1;
}

.herotext h1, .services-text h2, .card-section-item h2, .card-body-item h3, .services-text h2{
    color: var(--darkcolor);
}

.spectar{
    margin: 10% auto;
}

.card-item {
    box-shadow: 3px 6px 19px 0px rgba(23, 15, 34, 0.4);
    border-bottom: 7px solid orangered;
    transition: all 2s;
    cursor: pointer;
}
.card-item:hover, .package-card:hover {
    transform: scale(1.2);
}
.card-item:hover {
    transform: scale(1.2);
    border-bottom: 7px solid var(--accentColor);
}

.card-section-item {
    background: var(--accentcolorlight);
    margin: -5px 0;
}

.card-section-item h2 {
    font-weight: 600;
}

.card-item {
    background: #fff;
    margin-right: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.card-body-item p {
    text-align: justify;
}

.shape-1 {
    float: left;
    width: 69px;
	height: 193px;
    shape-outside:polygon(10% 0, 30% 1%, 24% 52%, 29% 75%, 40% 100%, 16% 100%, 6% 78%, 0% 43%, 0 8%);
    clip-path: polygon(10% 0, 30% 1%, 24% 52%, 29% 75%, 40% 100%, 16% 100%, 6% 78%, 0% 43%, 0 8%);
    /* background-color: yellow; */
}
.shape-2 {
    float: right;
	width: 64px;
	height: 193px;
	shape-outside: polygon(90% 0, 91% 13%, 100% 43%, 94% 78%, 79% 100%, 50% 100%, 66% 69%, 67% 35%, 57% 1%);
    clip-path: polygon(90% 0, 91% 13%, 100% 43%, 94% 78%, 79% 100%, 50% 100%, 66% 69%, 67% 35%, 57% 1%);
    /* background-color: red; */
}

.card-header-item, .card-body-item {
    padding: 10px 13px;
}
.service1-div {
    position: relative;
}
.service-inner-text {
    position: absolute;
    top: 40%;
    left: -15%;
    font-weight: 700;
    font-size: 16px;
}

.services-section .title {
    display: none;
}
.service-inner-text {
    display: block;
}

/* Packages styling starts */
.package-card {
    height: 100%;
    box-shadow: 3px 6px 19px 0px rgba(9, 0, 0, 0.4);
    border: none;
    position: relative;
    cursor: pointer;
    transition: all 2s;
}
.package-card h5 {
    color: white;
}
.cardheader1 {
    background-color: pink;
}
.cardheader2 {
    background-color: cornflowerblue;
}
.cardheader3 {
    background-color: red;
}

.cardfooter {
    position: absolute;
    bottom: 4%;
    left: 20%;
}
.packages-dash1, .packages-dash,.dash {
    width: 200px;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.429);
}
.packages-dash {
    position: absolute;
    bottom: 18%;
    left: 18%;
}
.package-card  button{
    background-color: var(--accentColor);
    color: white;
}
.package-card span {
    color: var(--darkcolor);
    font-weight: 500;
}


/* Packages styling ends */


/* Testimonial styling starts */
.testimonial {
    background-color: var(--accentcolorlight);
    padding-bottom: 150px;
}
.dash {
    width: 500px;
}
.testimonial button {
    background-color: white;
    box-shadow: 3px 6px 19px 0px rgba(23, 15, 34, 0.4);
}
.slides {
    background-color: white;
    box-shadow: 3px 6px 19px 0px rgba(23, 15, 34, 0.4);
    
}
.testimonial-card-footer .img {
    width: 40px;
    height: 40px;
    background-color: var(--accentColor);
    border-radius: 50%;
    position: relative;
}
.testimonial-card-footer .img::after {
    content: '\f007';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 25px;
    position: absolute;
    left: 10px;
    color: var(--accentcolorlight);
}

/* Testimonial styling ends */

/* footer starts */
.footer-main {
    background-color: var(--darkcolor);
    color: white;
}

.footer-text, .link {
    opacity: 0.5;
    font-size: 15px;
}

.link {
    color: white
}
.link:hover {
    color: var(--accentColor);
    opacity: 1;
    text-decoration: none;
}

.box {
    background-color: skyblue;
    border-radius: 12px;
    width: 1050px;
    color: white;
}
.box button {
    border: none;
    border-radius: 7px;
    color: var(--accentColor);
    font-weight: 500;
}
.box h3 {
    font-weight: 600;
}
.box-text {
    color: white;
}
.footer-main {
    position: relative;
}
.precious-footer {
    position: absolute;
    top: -12%;
    left: 5%
}


/* footer ends */


@media screen and (max-width: 991px) {
    .herotext button {
        width: 100%;
    }
    .card-section-item h2 {
        text-align: center;
        margin-top: 20px;
    }
    .card-item {
        margin-bottom: 20px;
        width: 100%;
    }
    .shape-1 {
        height: 166px;
    }
    .shape-2 {
        height: 126px;
        width: 87px;
    }
    .services-section {
        text-align: center;
    }
    .services-section button {
        width: 100%;
    }
    .h2-heading {
        font-size: 20px;
    }
    .services-text {
        margin-bottom: 30px;
    }
    .btnpad {
        padding-bottom: 15px;
    }
    .cardfooter {
        position: static;
    }
    .testimonial .card-body p {
        text-align: justify;
    }
    .break {
        display: none;
    }
    .precious-footer, .packages-dash {
        position: static;
    }
    .box {
        width: 100%;
        margin-top: 50px;
    }
    .box button {
        width: 100%;
    }
    .box-header {
        font-size: 22px;
    }
    .services-section .title {
        display: block;
    }
    .service-inner-text {
        display: none;
    }
    


}
@media screen and (min-width: 992px)  {
    .access {
        padding-top: 120px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1300px) {
    body {
        overflow-x: hidden;
    }
    .services-section .break {
        display: none;
    }
    .services-section .title {
        display: block;
        text-align: center;
        padding-bottom: 50px;
    }
    .access {
        padding-top: 20px;
    }
    .services-img {
        padding-top: 100px;
    }
    .cardfooter {
        bottom: 3%;
        left: 50px;
    }
    .packages-dash1, .packages-dash,.dash {
        width: 150px;
    }
    .packages-dash {
        bottom: 80px;
        left: 80px;
    }
    .box {
        width: calc(100vw - 160px);
    }

    .precious-footer {
        position: absolute;
        top: -18%;
        left: -2%;
    }
    .shape-1 {
        height: 256px;
        width: 32px;
    }
    .shape-2 {
        height: 259px;
    }
    .access {
        padding-top: 130px;
    }
    .service-inner-text {
        display: none;
    }

}
@media screen and (min-width: 992px) and (max-width: 1025px) {
    .cardfooter {
        left: 10%;
    }
    .packages-dash {
        bottom: 15%;
        left: 18%;
    } 
    .access {
        padding-top: 50px;
    }
}