:root {
    --accentColor: #9a66e9;
    --accentcolorlight: #f3f4f5;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row {
    margin: 0 !important;
}
.nav-link {
    color: #222 !important;
}

/* styling button */
.btn-log, .btn-sign, .btn-hero {
    outline: none;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    font-size: 15px;
    background-color: transparent;
}

.btn-sign, .btn-hero, .btn-services {
    padding: 8px 22px;
    background: var(--accentColor);
    color: #e4e2e2ed;
    border-radius: 6px;
    font-weight: 500;
}

.btn-hero, .btn-services {
    padding: 8px 37px;
    text-transform: uppercase;
}
.btn-services {
    padding: 8px 45px;
    border: none;
}

.btn-sign:hover, .btn-hero:hover, .btn-services:hover {
    background: #5c4cb6e1;
}

.herotext h1 .services-text h2{
    color: #0a042be1;
}

.spectar{
    margin: 10% auto;
}

.card-item-footer {
    background: orangered;
    padding: 3px;
}

.card-section-item {
    background: var(--accentcolorlight);
    margin: -5px 0;
}

.card-section-item h2 {
    color: var(--accentColor);
    font-weight: 600;
}

.card-overall-section {
    display: flex;
    justify-content: space-between;
}

.card-item {
    background: #fff;
    margin-right: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

/* .shape-1 {
    float: left;
    width: 101px;
	height: 300px;
    shape-outside: polygon(50% 0%, 0% 100%, 100% 100%);
} */
/* .shape-2 {
    float: left;
	width: 101px;
	height: 300px;
	margin: 24px 0 0 -48px;
	shape-outside: content-box polygon( -1% -2.9%, 96% -4.7%, 75% 12.1%, 56.5% 36%, 60.3% 75.4%, 93.9% 98.7%, -6.2% 93.2% );
} */

.services-text2 {
    margin-top: 130px;
}

.card-header-item, .card-body-item {
    padding: 10px 13px;
}
.service1-div {
    position: relative;
}
.service-inner-text {
    position: absolute;
    top: 40%;
    left: -15%;
    font-weight: 700;
    font-size: 16px;
}
.services-img7 img {
    margin-top: 60px;
    }

/* Packages styling starts */
.package-card {
    height: 100%;
    box-shadow: 3px 6px 19px 0px rgba(9, 0, 0, 0.4);
    border: none;
    position: relative;
}
.package-card h5 {
    color: white;
}
.cardheader1 {
    background-color: pink;
}
.cardheader2 {
    background-color: cornflowerblue;
}
.cardheader3 {
    background-color: red;
}

.cardfooter {
    position: absolute;
    bottom: 4%;
    left: 20%;
}
.packages-dash1, .packages-dash,.dash {
    width: 200px;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.429);
}
.packages-dash {
    position: absolute;
    bottom: 19%;
    left: 18%;
}
.package-card  button{
    background-color: var(--accentColor);
    color: white;
}


/* Packages styling ends */


/* Testimonial styling starts */
.testimonial {
    background-color: var(--accentcolorlight);
    padding-bottom: 150px;
}
.dash {
    width: 500px;
}
.testimonial button {
    background-color: white;
    box-shadow: 3px 6px 19px 0px rgba(23, 15, 34, 0.4);
}
.slides {
    background-color: white;
    box-shadow: 3px 6px 19px 0px rgba(23, 15, 34, 0.4);
    
}
.testimonial-card-footer .img {
    width: 40px;
    height: 40px;
    background-color: var(--accentColor);
    border-radius: 50%;
    position: relative;
}
.testimonial-card-footer .img::after {
    content: '\f007';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 25px;
    position: absolute;
    left: 10px;
    color: var(--accentcolorlight);
}

/* Testimonial styling ends */

/* footer starts */
.footer-main {
    background-color: #453260;
    color: white;
}

.footer-text, .link {
    opacity: 0.3;
    font-size: 15px;
}

.link {
    color: white
}
.link:hover {
    color: var(--accentColor);
    opacity: 1;
    text-decoration: none;
}

.box {
    background-color: skyblue;
    border-radius: 12px;
    width: 1000px;
    color: white;
}
.box button {
    border: none;
    border-radius: 7px;
    color: #5000CA;
    font-weight: 500;
}
.box h3 {
    font-weight: 600;
}
.footer-main {
    position: relative;
}
.precious-footer {
    position: absolute;
    top: -12%;
    left: 5%
}


/* footer ends */

@media screen and (max-width: 992px) {
    .card-overall-section {
        flex-direction: column;
    }

    .card-item {
        margin: 0 0 20px 0;
    }
    .svg-img {
        margin: -5px 0;
    }
    .services-img img {
        width: 80%;
        margin-top: 15px;
    }

    .service-inner-text {
    top: 80px;
    left: 190px;
    }
    .break {
        display: none;
    }
}
@media screen and (min-width: 1000px) {
    .svg-img {
        margin: -5px 0;
    }

    
}
