

.row {
    margin: 0 !important;
}
.nav-link {
    color: #222 !important;
}

/* styling button */
.btn-log, .btn-sign, .btn-hero {
    outline: none;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    font-size: 15px;
    background-color: transparent;
}

.btn-sign, .btn-hero, .btn-services {
    padding: 8px 22px;
    background: #5000CA;
    color: #e4e2e2ed;
    border-radius: 6px;
}

.btn-hero, .btn-services {
    padding: 8px 37px;
    text-transform: uppercase;
}
 .btn-services {
    padding: 8px 45px;
    border: none;
}

.btn-sign:hover, .btn-hero:hover, .btn-services:hover {
    background: #5a48c5e1;
}

.herotext h1 .services-text h2{
    color: #0a042be1;
}

.spectar{
    margin: 10% auto;
}

.card-item-footer {
    background: orangered;
    padding: 3px;
}

.card-section-item {
    background: #5000CA;
}

.card-overall-section {
    display: flex;
    justify-content: space-between;
}

.card-item {
    background: #fff;
    margin-right: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.card-header-item, .card-body-item {
    padding: 10px 13px;
}
.service-div {
    position: relative;
}
.service-inner-text {
    position: absolute;
    top: 230px;
    left: 485px;
    font-weight: 700;
}
  .services-img7 img {
        margin-top: 60px;
    }





@media screen and (max-width: 992px) {
    .card-overall-section {
        flex-direction: column;
    }

    .card-item {
        margin: 0 0 20px 0;
    }
    .svg-img {
        margin: -5px 0;
    }
    .services-img img {
        width: 80%;
        margin-top: 15px;
    }

    .service-inner-text {
    position: absolute;
    top: 430px;
    left: 240px;
    font-weight: 700;
    font-size: 16px;
    }
}
@media screen and (min-width: 1000px) {
    .svg-img {
        margin: -5px 0;
        /* width: 100%; */
    }
}
